<main class="mx-auto col-5 pt-5 pb-5">
  <section class="shadow bg-white">
    <div class="mx-auto col-5">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search with Title" [(ngModel)]="searchedTitle">
      </mat-form-field>
    </div>
  </section>
</main>

<div class="col-10 mx-auto">
  <table mat-table [dataSource]="tableApiData | searchByTitle:searchedTitle" class="mat-elevation-z8 table">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        <h5>TITLE</h5>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>
        <h5>URL</h5>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>
        <h5>CREATED AT</h5>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>
        <h5>AUTHOR</h5>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableHeadings"></tr>
    <tr mat-row *matRowDef="let row; columns: tableHeadings;" (click)="showModal(Clickedrow,row)"></tr>
  </table>
</div>

<ng-template #Clickedrow>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Raw Json Data</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="rawModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="preTag">{{rawJsonData|json}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="rawModalRef.hide()">Close</button>
  </div>
</ng-template>